
react-auth-starter/front-end/.env
react-auth-starter/back-end/.env
react-auth-starter/front-end/.vscode/*
react-auth-starter/back-end/.vscode/*
react-auth-starter/.vscode/*
react-auth-starter/back-end/node_modules/*
react-auth-starter/front-end/node_modules/*
react-auth-starter/node_modules/*
