/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
sendgrid.env


react-auth-starter/front-end/.env
react-auth-starter/back-end/.env
react-auth-starter/front-end/.vscode/*
react-auth-starter/back-end/.vscode/*
react-auth-starter/.vscode/*
react-auth-starter/back-end/node_modules/*
react-auth-starter/front-end/node_modules/*
react-auth-starter/node_modules/*